.dots-loader {
	width: 50px;
	height: 28px;
	background: radial-gradient(farthest-side, currentColor 90%, #0000) 50% 0,
		radial-gradient(farthest-side, currentColor 90%, #0000) 100% 0;
	background-size: 12px 12px;
	background-repeat: no-repeat;
	position: relative;
	animation: dot0 1.5s linear infinite;

	&:before {
		content: "";
		position: absolute;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: currentColor;
		left: 0;
		top: 0;
		animation: dot1 1.5s linear infinite, dot2 0.5s cubic-bezier(0, 200, 0.8, 200) infinite;
	}
}

@keyframes dot0 {
	0%,
	31% {
		background-position: 50% 0, 100% 0;
	}
	33% {
		background-position: 50% 100%, 100% 0;
	}
	43%,
	64% {
		background-position: 50% 0, 100% 0;
	}
	66% {
		background-position: 50% 0, 100% 100%;
	}
	79% {
		background-position: 50% 0, 100% 0;
	}
	100% {
		transform: translateX(calc(-100% / 3));
	}
}

@keyframes dot1 {
	100% {
		left: calc(100% + 7px);
	}
}

@keyframes dot2 {
	100% {
		top: -0.1px;
	}
}
