@import "../../global.scss";

.change-password {
	padding: 5%;
	background-color: white;
	display: inline-block;
	width: 50%;

	&__show-password-area {
		margin-bottom: 1rem;
	}
}

input[type="checkbox"] {
	appearance: auto;
	margin-right: 0.5rem;
	cursor: pointer;
}
