.message-panel {
	$search-width: 85%;
	max-height: max(100vh, 40rem);
	width: 35%;
	border-right: 2px solid #ccc;

	&__top-panel {
		background: rgba(0, 255, 255, 0.1);
		padding: 1rem 1rem 0;
		form {
			border-bottom: 2px solid #ccc;
		}
	}

	&__select-container {
		position: relative;
		&::after {
			content: "\025BE";
			color: #6a6f73;
			display: block;
			position: absolute;
			top: 50%;
			right: 1.25rem;
			pointer-events: none;
			font-size: 1.2rem;
			height: 1rem;
			width: 1rem;
			transform: translateY(-50%);
		}
	}

	&__input {
		&--select {
			width: 100%;
			background: #fff;
			padding: 1.5rem;
			font-size: 1.1rem;
			border-radius: 0.25rem;
		}

		&--search {
			width: $search-width;
			border: 1px solid #000;
			padding: 1.2rem;
			font-size: 1.1rem;
			border-top-left-radius: 0.25rem;
			border-bottom-left-radius: 0.25rem;
		}
	}

	&__search-field {
		margin: 1rem 0;
		display: flex;
	}

	&__btn {
		&--search {
			width: 100% - $search-width;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: none;
			color: #fff;
			background: #000;

			svg {
				width: 1.2rem;
				height: 1.2rem;
			}

			&:hover {
				border-color: #000;
				color: #000;
			}
		}
	}

	&__message {
		$user-width: 17.5%;

		&-list {
			height: max(75vh, 20rem);
			overflow-y: auto;
			padding: 1rem 1.5rem 1rem 1rem;
		}

		&-item {
			display: flex;
			padding: 1rem 0;
			cursor: pointer;
		}

		&-user {
			width: $user-width;

			> div:first-child {
				display: flex;

				align-items: flex-start;
				margin-bottom: 0.5rem;
			}

			&-img {
				width: 2rem;
				height: 2rem;
				margin-left: 0.5rem;
			}

			&-important {
				width: 1rem;
				height: 1rem;
				display: block;
				margin: 0 auto;
				color: #2ebfba;
			}
		}

		&-message {
			width: 100% - $user-width;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: space-around;

			&-name {
				font-size: 1.1rem;
				strong {
					font-weight: 700;
				}
			}

			&-content {
				font-size: 0.9rem;
				color: #666;
				width: 100%;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
}

input[type="radio"] {
	appearance: radio;
}
