@import "../../global.scss";

$title-height: 13.4%;

.carosel-product {
	padding: 0 $page-padding;
	display: flex;
	justify-content: space-between;
	margin: 5% 0;

	height: 700px;

	&__sect {
		width: 49%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		border: 0.22em solid #ccc;
	}

	&__col {
		width: 50%;
		height: 100% - $title-height;
	}

	&__title {
		width: 100%;
		height: $title-height;
		padding: 5% 10%;

		font-size: 2rem;
		font-weight: 700;
		text-align: center;

		background-color: #ccc;
	}
}
