@import "../../global.scss";

$cap-back: rgba(102, 102, 102, 0.8);
$active-link: #6bd5ff;

.product {
	position: relative;
	overflow: hidden;
	height: 100%;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: fill;
	}

	&__cap {
		height: 30%;
		width: 100%;
		padding: 2% 5%;

		position: absolute;
		left: 0;

		color: #fff;
		background: $cap-back;

		transition: all 0.5s;

		p {
			font-size: 0.75rem;
		}
	}

	&__name {
		font-size: 1rem;
		font-weight: 500;

		margin-bottom: 1%;

		&:hover {
			cursor: pointer;
			color: $active-link;
		}
	}

	&__foot {
		font-size: 1rem;
		border-top: 1% solid gray;
		display: flex;

		justify-content: space-between;
		align-items: flex-end;

		svg {
			position: relative;
			z-index: 10;
			cursor: pointer;

			&:hover {
				fill: rgb(0, 47, 175);
			}
		}
	}

	&:hover &__cap {
		transform: translateY(-100%);
	}

	&__rating {
		display: flex;
		align-items: center;

		span {
			@extend %star;
			background-color: #ffeb00;
			display: inline-block;
			height: 0.75rem;
			width: 0.75rem;
		}
	}
}
