$border-color: #e8e8e8;
$grid-gap: 0.2em;

.side-product {
	border: 0.1em solid $border-color;
	border-top: 0.2em solid black;
	width: 47.5%;

	&__title {
		font-size: 2rem;
		font-weight: 600;
		padding: 3% 2%;
		background-color: white;
		margin-bottom: 1%;
		display: flex;
		justify-content: space-between;

		button {
			border: 1px solid transparent;
			padding: 0.5rem;
			line-height: 1.1rem;
			font-weight: 500;

			&:first-child {
				margin-right: 1.25rem;
			}

			&:hover {
				border-color: #000;
			}

			&:disabled {
				color: #666a;

				&:hover {
					cursor: not-allowed;
				}
			}
		}
	}

	&__list {
		&--left {
			ul {
				grid-template-columns: 2fr 1fr;
				li:first-child {
					grid-row-start: 1;
					grid-row-end: 3;

					border-right: $grid-gap solid $border-color;

					figcaption {
						height: 25%;
					}
				}

				li:last-child {
					border-top: $grid-gap solid $border-color;
				}
			}
		}

		&--right {
			ul {
				grid-template-columns: 1fr 2fr;
				li:last-child {
					grid-row-start: 1;
					grid-row-end: 3;
					grid-column-start: 2;
					grid-column-end: 3;
					border-right: $grid-gap solid $border-color;

					figcaption {
						height: 25%;
					}
				}

				li:first-child {
					border-top: $grid-gap solid $border-color;
				}
			}
		}

		ul {
			height: max(500px, 80vh);
			display: grid;

			grid-template-rows: 50% 50%;
		}
	}

	&__product__cap {
		height: 45%;
	}
}
