$page-padding: 3%;

$svg-height: 1em;
$svg-width: 1em;

$gray-border: #dee2e6;
$ligth-blue: #515dff;
$green-blue: #00ffdd;
$btn-background: #ccc;

$btn: (
	background: #1a73e8,
	font-color: white,
	transparent: transparent,
);
