@import "../../global.scss";

@mixin custom-btn--invert {
	background-color: map-get($map: $btn, $key: transparent);
	color: map-get($map: $btn, $key: background);
	border-color: map-get($map: $btn, $key: background);
}

@mixin custom-btn--clear-effect {
	color: map-get($map: $btn, $key: font-color);
	background-color: map-get($map: $btn, $key: background);
	border-color: transparent;
}

.btn {
	font-size: 1rem;
	color: map-get($map: $btn, $key: font-color);
	background-color: map-get($map: $btn, $key: background);
	padding: 0.55rem 1.15rem;
	border: 0.1rem solid transparent;
	transition-duration: 0.25s;

	border-radius: 0.25rem;

	&:hover {
		@include custom-btn--invert();
	}
}
